/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

form {
  margin: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #ff6961;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff5c5c;
}

h2 {
  margin-top: 20px;
  color: green;
}
